In [3]:
import pandas as pd
import numpy as np

import warnings

from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category=(SettingWithCopyWarning))

In [4]:
data_2020 = pd.read_csv(r'DEV1\NADI2020-TWT.tsv', sep="\t")
data_2021 = pd.read_csv(r'DEV1\NADI2021-TWT.tsv', sep="\t")
data_2023 = pd.read_csv(r'DEV1\NADI2023_TWT.tsv', sep="\t")
data_2024_D1 = pd.read_csv(r'DEV1\NADI2024_subtask1_dev1.tsv', sep="\t")
data_2024_D2 = pd.read_csv(r'DEV2\NADI2024_subtask1_dev2.tsv', sep="\t")

In [5]:
data_2020.head()

,#1_tweet_ID,#2_tweet_content,#3_country_label,#4_province_label
0,TRAIN_1,الفار العور يشوف فقط كيسي ومايشوف ماتويد,Iraq,iq_Al-Anbar
1,TRAIN_2,ي دينيييي ربنا يستر,Egypt,eg_Alexandria
2,TRAIN_3,أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم ي...,Iraq,iq_Maysan
3,TRAIN_4,ليْسَت كُل المَشَاعِرِ تَحْتَاجُ إلى حَبِيب بَ...,Morocco,ma_Oriental
4,TRAIN_5,لأ ني حاضرها هذي لايف,Libya,ly_Al-Jabal-al-Akhdar

In [6]:
data_2021.head()

,#1_tweet_ID,#2_tweet_content,#3_country_label,#4_province_label
0,TRAIN_0,حاجة حلوة اكيد,Egypt,eg_Faiyum
1,TRAIN_1,عم بشتغلوا للشعب الاميركي اما نحن يكذبوا ويغشو...,Iraq,iq_Dihok
2,TRAIN_2,ابشر طال عمرك,Saudi_Arabia,sa_Ha'il
3,TRAIN_4,شهرين وتروح والباقي غير صيف ملينا,Algeria,dz_El-Oued
4,TRAIN_5,يابنتى والله ما حد متغاظ ولا مفروس منك ولا بيح...,Syria,sy_Damascus-City

In [7]:
data_2023.head()

,#1_id,#2_content,#3_country_label
0,subtask1_train_1,USER روتلج علمود جنسيه,Iraq
1,subtask1_train_2,النت في عمان يذكرني ببطاقه الافق مال NUM ريالا...,Oman
2,subtask1_train_3,USER انا كنصراوي لاالوم اخواني النصراويه بتشجي...,Saudi_Arabia
3,subtask1_train_4,دوله اسرائيل قائمه علي ضعفنا يوم ما نتوحد ونقو...,Palestine
4,subtask1_train_5,USER لو تقابلنا بعد طول الغياب ضمني ما فيني حي...,Bahrain

In [8]:
data_2020["#3_country_label"].unique()

array(['Iraq', 'Egypt', 'Morocco', 'Libya', 'UAE', 'Saudi_Arabia',
       'Bahrain', 'Syria', 'Lebanon', 'Oman', 'Palestine', 'Algeria',
       'Jordan', 'Tunisia', 'Kuwait', 'Yemen', 'Sudan', 'Qatar'],
      dtype=object)

In [9]:
data_2021["#3_country_label"].unique()

array(['Egypt', 'Iraq', 'Saudi_Arabia', 'Algeria', 'Syria', 'Oman',
       'Tunisia', 'Lebanon', 'Morocco', 'UAE', 'Kuwait', 'Libya',
       'Bahrain', 'Qatar', 'Yemen', 'Palestine', 'Jordan', 'Sudan'],
      dtype=object)

In [10]:
data_2023["#3_country_label"].unique()

array(['Iraq', 'Oman', 'Saudi_Arabia', 'Palestine', 'Bahrain', 'Egypt',
       'Jordan', 'Libya', 'Sudan', 'UAE', 'Algeria', 'Kuwait', 'Tunisia',
       'Lebanon', 'Morocco', 'Yemen', 'Syria', 'Qatar'], dtype=object)

In [11]:
len(data_2023["#3_country_label"].unique())

18

Classes in **2020**, **2021** and **2023** are all the same, but in 2024 differs

In [12]:
data_2023.head()

,#1_id,#2_content,#3_country_label
0,subtask1_train_1,USER روتلج علمود جنسيه,Iraq
1,subtask1_train_2,النت في عمان يذكرني ببطاقه الافق مال NUM ريالا...,Oman
2,subtask1_train_3,USER انا كنصراوي لاالوم اخواني النصراويه بتشجي...,Saudi_Arabia
3,subtask1_train_4,دوله اسرائيل قائمه علي ضعفنا يوم ما نتوحد ونقو...,Palestine
4,subtask1_train_5,USER لو تقابلنا بعد طول الغياب ضمني ما فيني حي...,Bahrain

In [13]:
data_2024_D1.head()

,sentence,Algeria,Egypt,Sudan,Tunisia
0,مش عارف ليه بفرح جدا لما اعرف ان حد من اصحابي ...,n,y,n,n
1,احمد فاروق جعفر لشيكابالا ترد تقول ايه علي تصر...,n,y,n,n
2,بدل ما انت طالع ونازل بالفيس تعال نگتب #يا_الل...,n,y,y,n
3,اللهم اهدني فيمن هديت وعافني فيمن عافيت وتولني...,y,y,y,y
4,اللهم انت ربي لا اله الا انت خلقتني وانا عبدك ...,y,y,y,y

Classes in **2024 D1** are `[Algeria, Egypt, Sudan, Tunisia]`

In [14]:
data_2024_D2.head()

,sentence,Algeria,Egypt,Jordan,Palestine,Sudan,Syria,Tunisia,Yemen
0,يوم ان ولد اللاش رزقه علي امه رزقي علي اللي مي...,n,n,n,n,n,n,n,n
1,في تونس يا انت مع الطحانه و الفساد و الخونه و ...,n,n,n,n,n,n,y,n
2,اللهم انت ربي لا اله الا انت خلقتني وانا عبدك ...,y,y,y,y,y,y,y,y
3,اربط الحزام وباتفتح قناه,n,n,n,n,n,n,n,y
4,بيعدي عليا بنات بحس ان مكتوب علي ضهرهم اتمني ل...,n,y,n,y,n,n,n,y

Classes in **2024 D2** are `[Algeria, Egypt, Jordan, Palestine, Sudan, Syria, Tunisia, Yemen]`

It's easy to integrate between 2020, 2021 and 2023 just by combining these two dataframes

but there's a little problem, 2023 data doesn't contain `Province` column

## 2020

### Rename each column in the data

In [15]:
data_2020.columns = ["ID", "Text", "Country", "Province"]

data_2020.head()

,ID,Text,Country,Province
0,TRAIN_1,الفار العور يشوف فقط كيسي ومايشوف ماتويد,Iraq,iq_Al-Anbar
1,TRAIN_2,ي دينيييي ربنا يستر,Egypt,eg_Alexandria
2,TRAIN_3,أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم ي...,Iraq,iq_Maysan
3,TRAIN_4,ليْسَت كُل المَشَاعِرِ تَحْتَاجُ إلى حَبِيب بَ...,Morocco,ma_Oriental
4,TRAIN_5,لأ ني حاضرها هذي لايف,Libya,ly_Al-Jabal-al-Akhdar

In [16]:
data_2020.iloc[3]["Text"]

'ليْسَت كُل المَشَاعِرِ تَحْتَاجُ إلى حَبِيب بَعْض المَشَاعر تَحْتَاج إلى رَفِيق لا يَخْذل صَدِيق لا يُوجع رُوُح تَظَل مَعَكَ ولا تَمَل مِنك'

In [17]:
data_2020.isna().sum()

ID          0
Text        0
Country     0
Province    0
dtype: int64

no null values

In [18]:
data_2020.duplicated().sum()

0

no duplicated records

let's take a look on the `ID` column

so every record is named after eatiher train or test, but is there any test values?

we can use `REGEX` to determine this

In [19]:
import regex as re

exp = r"TEST_[\d]+"

In [20]:
lst = [i for i in data_2020["ID"] if re.match(exp, i)]

lst

[]

there's no test labels

so there's no need for `ID` column

In [21]:
data_2020 = data_2020.drop(columns="ID")

data_2020

,Text,Country,Province
0,الفار العور يشوف فقط كيسي ومايشوف ماتويد,Iraq,iq_Al-Anbar
1,ي دينيييي ربنا يستر,Egypt,eg_Alexandria
2,أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم ي...,Iraq,iq_Maysan
3,ليْسَت كُل المَشَاعِرِ تَحْتَاجُ إلى حَبِيب بَ...,Morocco,ma_Oriental
4,لأ ني حاضرها هذي لايف,Libya,ly_Al-Jabal-al-Akhdar
...,...,...,...
20365,تركيبه مختلفه ازاي علشان محتوي الرساله اتبعتي ...,Egypt,eg_Kafr-el-Sheikh
20366,اهي المنوفيه دي بلد وسخه محدش بيقف جمب حد وله ...,Egypt,eg_Monufia
20367,مو مسكينة بس شكلك انت مسكين وإذا ترديني ارد عل...,Iraq,iq_Al-Muthannia
20368,الحاسة السادسة عندنا فعالة في أغلب الاحيان,Morocco,ma_Oriental
20369,@Rasha_AlSadat ماااااساتى مع بنتى للاسف,Egypt,eg_Red-Sea

country code that's embbeded with the `Province` seems to have no use here since we have `Country` column

In [22]:
province = pd.Series([i[1] for i in data_2020["Province"].str.split('_')])

data_2020["Province"] = province

In [23]:
data_2020.head()

,Text,Country,Province
0,الفار العور يشوف فقط كيسي ومايشوف ماتويد,Iraq,Al-Anbar
1,ي دينيييي ربنا يستر,Egypt,Alexandria
2,أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم ي...,Iraq,Maysan
3,ليْسَت كُل المَشَاعِرِ تَحْتَاجُ إلى حَبِيب بَ...,Morocco,Oriental
4,لأ ني حاضرها هذي لايف,Libya,Al-Jabal-al-Akhdar

In [24]:
data_2020.duplicated().sum()

54

there apppear to be a duplicated records

In [25]:
data_2020 = data_2020.drop_duplicates()

In [26]:
data_2020.iloc[2]["Text"]

'أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم يا وهابيهhttps://twitter.com/alarabiya_brk/status/868610706463182849\xa0…'

there appears to be english characters in the dataset, we don't need them

In [27]:
import string

In [28]:
def remove_links(text):
    return re.sub(r'https?:\/\/(.[\r\n]*)*', '', text, flags=re.MULTILINE)

def remove_punctuation(text):
    punc = string.punctuation
    return text.translate(str.maketrans('','',punc))

def remove_english(text):
    new_text = ""
    for i in text:
        if not((i >= 'a' and i <= 'z') or (i >= 'A' and i <= 'Z') or (i >= '0' and i <= '9') or i == '\\'):
            new_text += i
    
    return new_text

In [30]:
data_2020["Text"] = data_2020["Text"].apply(remove_links)
data_2020["Text"] = data_2020["Text"].apply(remove_punctuation)
data_2020["Text"] = data_2020["Text"].apply(remove_english)

data_2020.iloc[2]["Text"]

'أساساً نسبكم قذر ونجس بلاش تتفاخروا بنجاستكم يا وهابيه'

We need to make sure that every text is an arabic string

I used `pyarabic` for this you can check it out in it's link in `arabicFunction.py` file

In [52]:
import arabicFunctions
from arabicFunctions import isArabic

In [40]:
len(data_2020) - data_2020["Text"].apply(isArabic).sum()

1751

seems like there still texts with non-arabic text

first we need to observe them

In [49]:
nonArabic = pd.Series([i for i in data_2020["Text"] if not isArabic(i)])

lst = set()

for i in nonArabic:
    for j in i:
        if not isArabic(j):
            lst.add(j)

print(lst)

{'\u06dd', '\ue030', '̶', '¶', 'ﺴ', 'ﻪ', '☉', '↓', '←', 'ﮊ', '리', 'ஜ', '➍', 'ﻮ', 'ڴ', '\ue681', '\U000fe04e', 'ڛ', '\ue032', '➎', '☚', 'ﺟ', 'ﺗ', 'ˆ', 'ﻦ', 'ﻟ', '\U000fe334', '\U000fe329', 'ۦ', '진', 'İ', '★', 'ﻭ', 'ℓ', '\U000fe800', '\u2069', 'ﮭ', 'ڱ', 'ډ', 'ﻤ', '⚘', '̩', '”', 'ݣ', '⸀', '\U000fe326', 'ु', 'ﻡ', 'ﺡ', '➌', 'ﻙ', '\U000feb12', '▬', '\ue022', '༺', 'ﻝ', 'ﻄ', '우', 'ک', '•', 'ڊ', 'ﺘ', 'ٖ', '❀', '【', 'ﯼ', '‿', 'ﻓ', '۞', 'ڤ', '이', 'ﻥ', 'â', 'ﺇ', 'ﺮ', 'ú', '\U000fe4cc', 'ﺁ', '\U000feba0', 'ﻱ', 'ﺶ', '\U000fe33e', 'ﭑ', '\U000feb9e', '森', 'ﻹ', 'ﻑ', 'ﻂ', 'چ', '٬', '\u2067', 'ﺌ', '⇣', '❃', '\ue21a', 'ﺊ', 'ﷺ', 'ﻗ', '’', 'ﻘ', 'ﺃ', 'ღ', 'ۂ', 'ﺔ', '๛', 'ﯾ', '\U000fe33d', '】', 'ﺜ', 'ﺲ', '♡', '┅', '↝', 'ڳ', 'ﺍ', 'ヅ', 'ﻶ', '☼', 'ڨ', '고', '\U000fe339', 'ٓ', '\U000feb0d', '\u200d', 'ﺦ', '﮼', '林', '\U000fe1dd', 'ﻏ', 'ﮔ', '͡', 'ﻲ', '﹏', 'ﻜ', 'ﷻ', 'ٶ', 'ﻐ', 'ۃ', 'ɔ', '˘', '\U000feb18', '\U000fe357', '⁽', 'ɑ', 'ﺖ', 'ە', 'ۉ', '̸', '‘', '⌗', '\u200f', '\U000fe327', '\U000feb9f', '\U000feb0f', 'ۅ', '\ue310', 'ھ', 'ﮬ', 'ﻕ', 'ɦ', 'ﺱ', '\U000fe343', '《', 'ﯽ', 'ڝ', '➊', '﴾', 'ﺚ', 'ﻩ', '는', '❦', 'ﻒ', 'ﺧ', 'ﺬ', 'ﭼ', 'ٹ', 'ژ', 'ﻛ', '–', 'ﺺ', 'ڕ', 'ٲ', '\ue404', 'ٳ', '٫', '₎', 'ﮐ', 'ﻊ', '“', '»', '☻', '☆', '》', '木', '\U000fe03e', '수', '\U000fe333', '┉', 'ﺩ', 'ۿ', 'ﺄ', 'ﻃ', '\ue424', 'ë', 'ý', '●', 'ﺋ', 'ہ', 'ﺾ', '̵', '\ue328', 'á', '℅', 'ﻌ', 'ﻔ', 'ﻣ', 'ﻠ', '﴿', 'ۡ', '«', '\ue106', 'ڪ', 'ﻧ', '\ue403', '›', '✬', 'ོ', '\u200e', '☜', 'ۗ', 'ৡ', 'ﻰ', '\U000feb97', '가', 'ﺳ', '۩', 'ﻀ', 'ø', 'ﮧ', 'ﻳ', '﷽', '\U000fe041', '\ue6ae', 'ۓ', '¥', 'پ', 'ﻬ', 'ﺵ', '✵', 'ڒ', 'ﺆ', 'ﺨ', '의', 'ı', 'ᴗ', 'є', '\U000fe040', '۽', '\U000fe358', 'ç', '̼', '➋', '♬', 'ﻚ', '┈', 'ş', 'ﻇ', 'ﺂ', 'ﮯ', '٪', 'گ', '\ue32e', '̷', '̲', '알', 'ﻯ', 'ڵ', 'ﻨ', 'ﻫ', 'ﺏ', '\U000feb14', 'ﺎ', '\ue22e', 'ﮏ', '‹', 'ۆ', 'ﺐ', 'ﻼ', '°', '̈', 'ﺤ', 'é', 'ﺸ', 'ﻴ', '©', '·', '✦', 'ﷲ', '\U000fe347', '\U000feb96', 'ﺒ', '◕', '♫', 'ﺪ', '♤', 'ی', '̮', '۔', 'ے', '˓', 'ﺫ', 'ٺ', '석', 'ﻢ', 'ﺕ', 'ۖ', '﷼', 'ﻋ', 'ٱ', 'ρ', '¡', '✿', 'ﯙ', '×', 'ğ', '\u2066', 'ː', '✤', '༻', 'ﺼ', 'ﺣ', 'ﺀ', 'ﻉ', 'ﺓ', 'ۈ', 'à', 'ﻞ', 'û', 'ێ', '✺', '・', 'ט', 'ㅤ', 'ﺑ', '\ue304', 'ﺿ', 'ﺝ', '♪', 'ﺛ', 'ۚ', 'ۙ', 'ɨ', 'ﻖ', 'É', 'ڭ', 'ﺯ', '\U000fe016', 'ﻈ', 'è', '아', '❁', '⌣', 'ﺰ', 'ڈ', '™', 'ƒ', '\U000fec2f', '\U000fe335', '\ue6cf', '\U000fe03d', '✪', 'ں', 'ﷶ', 'ﺷ', '⠀', '\u200c', '…', '❥', 'ê', 'ㅠ', 'ﺙ', 'ﺠ', 'ﺈ', '\ue201', 'ﻆ', 'α', '�', '—', 'ٰ', 'ﺻ', '\U000feb99', 'ﺭ'}

some charcters are considered as arabic so i can just choose what to use and embedd them in the function and the rest to remove

had to collect them all and stored in `arabicFunctions.py`

we can modify one of the last functions so it removes any unwanted occurances

In [59]:
specialArabic = {
    '٫', '٬', 'ٰ', 'ٱ', 'ٲ', 'ٳ', 'ٶ', 'ٹ', 'ٺ', 'پ', 'چ', 'ڈ', 'ډ', 'ڊ', 'ڒ', 'ڕ', 'ژ', 'ڛ', 'ڝ', 'ڤ', 'ڨ', 'ک', 'ڪ', 'ڭ', 'گ', 'ڱ', 'ڳ', 'ڴ',
    'ڵ', 'ں', 'ھ', 'ہ', 'ۂ', 'ۃ', 'ۅ', 'ۆ', 'ۈ', 'ۉ', 'ی', 'ێ', 'ے', 'ۓ', '۔', 'ە', 'ۖ', 'ۗ', 'ۙ', 'ۚ', '۞', 'ۡ', 'ۦ', '۩', '۽', 'ۿ', 'ݣ', 'ﭑ', 'ﭼ', 'ﮊ',
    'ﮏ', 'ﮐ', 'ﮔ', 'ﮧ', 'ﮬ', 'ﮭ', 'ﮯ', '﮼', 'ﯙ', 'ﯼ', 'ﯽ', 'ﯾ', '﴾', '﴿', 'ﷲ', 'ﷶ', 'ﷺ', 'ﷻ', '﷼', '﷽', '﹏', 'ﺀ', 'ﺁ', 'ﺂ', 'ﺃ', 'ﺄ', 'ﺆ', 'ﺇ',
    'ﺈ', 'ﺊ', 'ﺋ', 'ﺌ', 'ﺍ', 'ﺎ', 'ﺏ', 'ﺐ', 'ﺑ', 'ﺒ', 'ﺓ', 'ﺔ', 'ﺕ', 'ﺖ', 'ﺗ', 'ﺘ', 'ﺙ', 'ﺚ', 'ﺛ', 'ﺜ', 'ﺝ', 'ﺟ', 'ﺠ', 'ﺡ','ﺣ', 'ﺤ', 'ﺦ', 'ﺧ', 'ﺨ',
    'ﺩ', 'ﺪ', 'ﺫ', 'ﺬ', 'ﺭ', 'ﺮ', 'ﺯ', 'ﺰ', 'ﺱ', 'ﺲ', 'ﺳ', 'ﺴ', 'ﺵ', 'ﺶ', 'ﺷ', 'ﺸ', 'ﺺ', 'ﺻ', 'ﺼ', 'ﺾ', 'ﺿ', 'ﻀ', 'ﻂ', 'ﻃ', 'ﻄ', 'ﻆ', 'ﻇ', 'ﻈ',
    'ﻉ', 'ﻊ', 'ﻋ', 'ﻌ', 'ﻏ', 'ﻐ', 'ﻑ', 'ﻒ', 'ﻓ', 'ﻔ', 'ﻕ', 'ﻖ', 'ﻗ', 'ﻘ', 'ﻙ', 'ﻚ', 'ﻛ', 'ﻜ', 'ﻝ', 'ﻞ', 'ﻟ', 'ﻠ', 'ﻡ', 'ﻢ', 'ﻣ', 'ﻤ', 'ﻥ', 'ﻦ',
    'ﻧ', 'ﻨ', 'ﻩ', 'ﻪ', 'ﻫ', 'ﻬ', 'ﻭ', 'ﻮ', 'ﻯ', 'ﻰ', 'ﻱ', 'ﻲ', 'ﻳ', 'ﻴ', 'ﻶ', 'ﻹ','ﻼ'}

In [60]:
def remove_english(text):
    new_text = ""
    for i in text:
        if not((i >= 'a' and i <= 'z') or (i >= 'A' and i <= 'Z') or (i >= '0' and i <= '9') or  (i in specialArabic)):
            new_text += i
    
    return new_text

In [62]:
data_2020["Text"] = data_2020["Text"].apply(remove_english)

now data 2020 is fully cleaned!